.max-wrap {
    max-width: rem(1440px);
    // min-width: rem(320px);
    margin: 0 auto;
}
.full-width {
    width: 100%;
}
.mat-raised-button {
    line-height: rem(36px);
}
.food-icon {
    font-family: "Flaticon";
    &:before {
        margin: 0;
    }
}
/* .bg-1 {
    background-color: map-get($mat-deep-purple, 50);
}
.bg-2 {
    background-color: map-get($mat-amber, 50);
}
.bg-3 {
    background-color: map-get($mat-blue-grey, 50);
}
.bg-4 {
    background-color: map-get($mat-brown, 50);
} */

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}