<section class="sitefooter-comp">
    <div class="footer-wrap">
        <footer>
            <div class="max-wrap">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col col-md-6 col-xl-3">
                            <!-- <div class="logo-wrap">
                                <img src="./../../../assets/logo-black.svg">
                            </div> -->
                            <h6>Latest</h6>
                        </div>
                        <div class="col col-md-6 col-xl-3">
                            <h6>Recipes</h6>
                        </div>
                        <div class="col col-md-6 col-xl-3">
                            <h6>Videos</h6>
                        </div>
                        <div class="col col-md-6 col-xl-3">
                            <h6>News</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                Icons made by <a href="https://www.flaticon.com/authors/creaticca-creative-agency" title="Creaticca Creative Agency">Creaticca Creative Agency</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>&copy; SWEET SPATULA</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</section>