.teaser-card {
    background-color: rgba(#fff, 0.9);
    border: rem(1px) solid $light; 
    height: 100%;
    padding: 0 rem(8px) rem(54px) rem(8px);
    position: relative;
    .teaser-img {
        border: rem(1px) solid $light;
        height: rem(240px);
        overflow: hidden;
        position: relative;
    }
    .teaser-avtar {
        border: rem(1px) solid $light;
        height: rem(40px);
        overflow: hidden;
        position: relative;
    }
    .mat-card-header {
        align-items: center;
        display: flex;
        height: rem(80px);
        padding: rem(8px) 0 rem(8px) rem(48px);
        position: relative;
        .h-title {
            margin: 0;
        }
        .mat-card-title {
            margin: 0;
        }
        ::ng-deep .mat-card-header-text {
            display: inline-block;
            margin: 0px;
        }
    }
    .mat-card-subtitle {
        height: rem(70px);
        margin: 0 0 rem(8px) 0;
        .btn {
            margin: 0 rem(4px) rem(4px) 0;
        }
    }
    .teaser-avtar {
        left: 0;
        position: absolute;
        top: rem(20px);
    }
    .mat-card-content {
        // height: rem(100px);
    }
    .mat-card-actions {
        margin: 0;
        position: absolute;
        bottom: 0;
        left: rem(8px);
        padding: rem(8px) 0 rem(4px) 0;
    }
}