<div class="main-content">
  <app-indexbanner></app-indexbanner>
  <section class="generic-content">
    <div class="max-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col mt-3 mb-3">
            <div class="section-header">
              <span class="section-icon food-icon flaticon-005-radish"></span>
              <h2>New vegetarian recipies</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xl-3 mt-3 mb-3">
            <app-standard-teaser [data]="sqImgData"></app-standard-teaser>
          </div>
          <div class="col-md-6 col-xl-3 mt-3 mb-3">
            <app-standard-teaser [data]="sqImgLengthyData"></app-standard-teaser>
          </div>
          <div class="col-md-6 col-xl-3 mt-3 mb-3">
            <app-standard-teaser [data]="sqImgData"></app-standard-teaser>
          </div>
          <div class="col-md-6 col-xl-3 mt-3 mb-3">
            <app-standard-teaser [data]="sqImgLengthyData"></app-standard-teaser>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="generic-content bg-1">
    <div class="max-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col mt-3 mb-3">
            <div class="section-header">
              <span class="section-icon">
                <i class="material-icons">favorite</i>
              </span>
              <h2>New healthy recipies</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-3 mb-3">
            <app-standard-teaser [data]="rectImgData"></app-standard-teaser>
          </div>
          <div class="col-md-6 mt-3 mb-3">
            <app-standard-teaser [data]="rectImgLengthyData"></app-standard-teaser>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
