.siteheader-buffer {
    height: rem(80px);
}
.siteheader-comp {
    height: rem(80px);
    header {
        padding: rem(15px) 0;
    }
    .logo-wrap {
        position: absolute;
        left: rem(15px);
        top: 0;
        margin: 0;
    }
    .nav-wrap {
        button {
            width: rem(60px);
            i {
                font-size: rem(40px);
            }
        }
    }
}
.site-user {
    width: rem(400px);
}
.site-nav {
    background-color: transparent;
    height: auto;
    position: static;
    right: 0;
    top: 0;
    width: 100%;
    .accessible-megamenu {
        // height: rem(82px);
        & > .accessible-megamenu-top-nav-item {
            border: 0;
            border-left: rem(1px) solid transparent;
            width: 20%;
            &:first-child {
                border-left: 0
            }
            a[aria-expanded] {
                border-radius: rem(6px) rem(6px) 0 0;
                color: #fff;
                padding: rem(24px) rem(30px) rem(24px) rem(15px);
                font-size: rem(13px);
                &:focus, &.open {
                    background-color: map-get($mat-deep-purple, 800);
                }
                &:hover {
                    background-color: rgba(map-get($mat-deep-purple, 800), 0.5);
                }
                .ikn {
                    right: rem(10px);
                    top: rem(17px);
                    opacity: 0;
                }
                &.open {
                    .ikn {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .accessible-megamenu-panel {
        background-color: map-get($mat-deep-purple, 800);
        border-radius: 0 0 rem(6px) rem(6px);
        box-shadow: 0px 8px 8px 0px rgba(map-get($mat-deep-purple, 800),0.85);
        color: #fff;
        padding: rem(30px) 0;
        &.open {
            top: auto;
        }
        li {
            padding: rem(15px) 0;
        }
        a {
            color: #fff;
            display: inline;
            padding: 0;
        }
    }
}