.siteheader-buffer {
    height: rem(80px);
}
.siteheader-comp {
    height: rem(80px);
    .site-logo {
        height: rem(70px);
        width: rem(70px);
    }
    .nav-wrap {
        button {
            width: rem(60px);
            height: rem(80px);
        }
    }
}
.site-user, .site-nav {
    width: rem(400px);
}